<!DOCTYPE html>
<html>
<head>
  <title><%= content_for(:page_title) %> <%= content_for(:section_title) %> | Dummy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body data-spy="scroll" data-target="#page-toc">
  <section class="row">
    <% if content_for?(:page_menu) %>
      <div class="col-sm-3 hidden-xs" id="page-toc" data-spy="affix">
        <%= yield :page_menu %>
      </div>
      <div class="col-sm-9 col-sm-offset-3">
        <%= yield %>
      </div>
    <% else %>
      <div class="col-xs-12">
        <%= yield %>
      </div>
    <% end %>
  </section>
</body>
</html>
