%div{"ng-app" => "documentationEditorApp"}
  %section#documentation-editor{"ng-controller" => 'EditorController', "ng-init" => "init(#{@page.id}, '#{request.path.split('/edit/').first}')"}
    .editor-header
      %ul.list-inline.pull-right
        %li
          %a.pull-right.btn.btn-success.btn-sm{href: '#', 'ng-click' => 'preview($event)'}
            %i.fa.fa-eye
            Save & Preview
        %li
          %a.pull-right.btn.btn-danger.btn-sm{href: '#', 'ng-click' => 'publish($event)'}
            %i.fa.fa-save
            Save & Publish
        %li
          %a.pull-right.btn.btn-default.btn-sm{href: '#', 'ng-click' => 'toggleView($event)'}
            %i.fa.fa-arrows-h
            Switch View
        %li
          %a.pull-right.btn.btn-warning.btn-sm{href: '#', 'ng-click' => 'undo($event)', 'ng-disabled' => 'undoRedo.length === 0'}
            %i.fa.fa-undo
            Undo
      %h1
        %a.btn.btn-default.btn-sm{href: "#{request.path.split('/edit/').first}/admin"}
          %i.fa.fa-chevron-left
          Back
        Edit
        %small= "#{request.path.split('/edit/').first}/#{@page.slug}"

    .editor-content{"ng-cloak" => true}
      %textarea.markdown{"ng-if" => "rawView", "ng-model" => "$parent.source"}
      .section{"ng-repeat" => "section in sections track by $index", "ng-init" => "sectionIndex = $index", "ng-if" => "!rawView"}
        %pre.markdown{contenteditable: true, "ng-if" => "section.type === 'text'", "ng-model" => 'sections[sectionIndex].content' }
        .alert{contenteditable: true, "ng-if" => "section.type === 'callout'", class: 'alert-{{ section.content.type }}', 'ng-model' => 'sections[sectionIndex].content.body' }
        .if{contenteditable: true, "ng-if" => "section.type === 'if'", 'ng-model' => 'sections[sectionIndex].content.condition' }
        .endif{"ng-if" => "section.type === 'endif'"} } //endif
        %img.image{"ng-if" => "section.type === 'image'", src: "{{ section.content.images[0].image[0] }}"}
        %table.table.parameters{"ng-if" => "section.type === 'parameters'"}
          %thead
            %tr
              %th{contenteditable: true, "ng-repeat" => "col in getIntegerIterator(section.content.cols)", 'ng-model' => "sections[sectionIndex].content.data['h-' + col]"}
              %th.text-right
                Cols:
                %a{href: '#', 'ng-click' => 'addColumn($event, section.id)'}>
                  %i.fa.fa-plus-circle
                %a{href: '#', 'ng-click' => 'deleteColumn($event, section.id)'}>
                  %i.fa.fa-minus-circle
          %tbody
            %tr{"ng-repeat" => "row in getIntegerIterator(section.content.rows)"}
              %td{"ng-repeat" => "col in getIntegerIterator(section.content.cols)"}
                %pre.markdown{contenteditable: true, 'ng-model' => "sections[sectionIndex].content.data[row + '-' + col]"}
            %tr
              %td.text-right{"colspan" => "{{ section.content.cols }}"}
                Rows:
                %a{href: '#', 'ng-click' => 'addRow($event, section.id)'}>
                  %i.fa.fa-plus-circle
                %a{href: '#', 'ng-click' => 'deleteRow($event, section.id)'}>
                  %i.fa.fa-minus-circle
        .code{"ng-if" => "section.type === 'code'"}
          .pull-right
            Language:
            %a{href: '#', 'ng-click' => 'addLanguage($event, section.id)'}>
              %i.fa.fa-plus-circle
          %ul.nav.nav-tabs
            %li{"ng-repeat" => "code in section.content.codes track by $index", "ng-class" => "{ active: ($index === 0) }"}
              %a{href: '#', 'ng-click' => 'deleteLanguage($event, section.id, $index)'}>
                %i.fa.fa-remove>
              %a{contenteditable: true, href: '#snippet_{{section.id}}_{{ code.language }}', 'data-toggle' => 'tab', 'ng-model' => 'sections[sectionIndex].content.codes[$index].language' }>
          .tab-content
            %pre.tab-pane{contenteditable: true, "ng-repeat" => "code in section.content.codes track by $index", "ng-class" => "{ 'in active': ($index === 0) }", id: 'snippet_{{section.id}}_{{code.language}}', 'ng-model' => 'sections[sectionIndex].content.codes[$index].code'}

        .insert-sections
          .pull-right
            %a.btn.btn-danger{href: '#', 'ng-click' => 'deleteSection($event, section.id)'}
              %i.fa.fa-trash
              Delete {{ section.type }}
          .pull-left
            %a.btn.btn-default{href: '#', 'ng-click' => 'addText($event, section.id)'}
              %i.fa.fa-bold
              Add text
            %a.btn.btn-default{href: '#', 'ng-click' => 'addCode($event, section.id)'}
              %i.fa.fa-align-justify
              Add code
            %a.btn.btn-default{href: '#', 'ng-click' => 'addTable($event, section.id)'}
              %i.fa.fa-table
              Add table
            %a.btn.btn-default{href: '#', "data-toggle" => "modal", "data-target" => "#editor-images", "ng-click" => "saveImagePosition(section.id)"}
              %i.fa.fa-image
              Add image
            %a.btn.btn-info{href: '#', 'ng-click' => 'addCallout($event, "info", section.id)'}
              %i.fa.fa-info-circle
              Add info
            %a.btn.btn-warning{href: '#', 'ng-click' => 'addCallout($event, "warning", section.id)'}
              %i.fa.fa-warning
              Add warning
            %a.btn.btn-danger{href: '#', 'ng-click' => 'addCallout($event, "danger", section.id)'}
              %i.fa.fa-exclamation-triangle
              Add danger
            %a.btn.btn-default{href: '#', 'ng-click' => 'addIf($event, section.id)'}
              %i.fa.fa-scissors
              IF
            %a.btn.btn-default{href: '#', 'ng-click' => 'addEndIf($event, section.id)'}
              %i.fa.fa-scissors
              \/IF

    #editor-images.modal.fade{"ng-controller" => "ImageUploaderController"}
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{type: "button", "data-dismiss" => "modal", "aria-label" => "Close"}
              %span{"aria-hidden" => true} &times;
            %h4 Upload a new image or use an existing one

          .modal-body
            - if DocumentationEditor::Image.count > 0
              %h3 Existing images:
              .images
                - DocumentationEditor::Image.limit(100).order('id DESC').each do |image|
                  %a{href: '#', 'ng-click' => "addImage('#{image.image.url}')"}= image_tag image.image.url
              %hr
            %h3 Upload a new image
            .form
              .row.form-group
                .col-sm-3.text-right Caption
                .col-sm-9
                  %input.form-control{type: 'text', 'ng-model' => 'caption', placeholder: 'Optional caption'}
              .text-center.form-group
                .btn.btn-success{"ngf-select" => true, "ng-model" => 'files'} Select image
