- id = "#{@page.id}-#{@revision.id}-#{@options.reject { |k, v| %w{action controller id}.include?(k.to_s)  }.to_param}"
- content_for :page_menu do
  - cache("page-#{id}-toc") do
    = render partial: 'menu_items', object: @revision.to_toc(@options)

- content_for :page_title, @page.title

.markdown-page
  - if DocumentationEditor::Config.is_admin && send(DocumentationEditor::Config.is_admin)
    .text-right
      = link_to edit_page_path(@page), class: 'btn btn-warning' do
        %i.fa.fa-edit
        Edit
  - cache("page-#{id}-content") do
    = find_and_preserve do
      = @revision.to_html(@options.merge(section: params[:section])).html_safe
